# Drill - Describing Data
Unit 3 / Lesson 1 / Project 5

**Question 1**

Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 when they started playing the Brady kids on The Brady Bunch. Cousin Oliver was 8 years old when he joined the show. What are the mean, median, and mode of the kids' ages when they first appeared on the show? What are the variance, standard deviation, and standard error?

*Answer by hand*

mean = sum of all ages / number of kids <br>
mean = 9.86 <br>
mode = most common age <br>
mode = 8 <br>
median = middle observation, when ordered (observation 4 of 7) <br>
median = 10 <br>
variance = squared sum of difference from mean of observations / number of observations <br>
variance = 7.48  <br>
standard deviation = sqrt of variance <br>
standard error is not a useful indicator in this case  <br>

In [7]:
import pandas as pd
import numpy as np
import statistics

In [57]:
ages = np.array([14, 12, 11, 10, 8, 8, 6])

In [58]:
agesDF = pd.DataFrame(ages)

In [59]:
agesDF.describe()

               0
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [60]:
answers = agesDF.describe()
variance = answers.loc['std']**2
variance

0    7.47619
Name: std, dtype: float64

In [61]:
statistics.mode(ages)

8

*Question 2* <br>

Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance to describe the data, which would you pick and why?

*Answer 2:*

mean and standard deviation

*Question 3 *

Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?

In [62]:
ages[-1] = 7

In [63]:
agesDF

    0
0  14
1  12
2  11
3  10
4   8
5   8
6   7

In [64]:
agesDF.describe()

               0
count   7.000000
mean   10.000000
std     2.516611
min     7.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [65]:
statistics.mode(ages)

8

In [66]:
answers = agesDF.describe()
variance = answers.loc['std']**2
variance

0    6.333333
Name: std, dtype: float64

*Question 4*

Nobody likes Cousin Oliver. Maybe the network should have used an even younger actor. Replace Cousin Oliver with 1-year-old Jessica, then recalculate again. Does this change your choice of central tendency or variance estimation methods?

In [67]:
ages[-2] = 1
ages

array([14, 12, 11, 10,  8,  1,  7])

In [68]:
agesDF

    0
0  14
1  12
2  11
3  10
4   8
5   1
6   7

In [69]:
agesDF.describe()

               0
count   7.000000
mean    9.000000
std     4.242641
min     1.000000
25%     7.500000
50%    10.000000
75%    11.500000
max    14.000000

In [70]:
answers = agesDF.describe()
variance = answers.loc['std']**2
variance

0    18.0
Name: std, dtype: float64

No, still use mean and standard deviation

*Question 5*

On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans of the show. The answers were: TV Guide 20% fans Entertainment Weekly 23% fans Pop Culture Today 17% fans SciPhi Phanatic 5% fans. Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?

It is not possible to calculate this withouh making some assumptions. If we assume that that all the magazines represent an unbiased sample of Americans then the 65/4 = 16.25% of Americans are fans of the Brady Bunch. But the assumption here is unlikely to hold, particularly for SciPhi Phanatic fans. The best estimate here, given only this data, is then 60/3 = 20% of Americans were fans (however, the samples of the remaining 3 magazines are still likely to be biased).